.details-popover contents {
  padding: 16px;
}

.details-popover .information {
  border-spacing: 8px;
}

.details-popover .actions {
  margin-top: 10px;
  border-spacing: 10px;
}

.details-popover .actions button {
  padding: 10px 16px;
  border-radius: 12px;
}
