/* Notifications & Message Tray */

$notification_banner_height: 68px;
$notification_banner_width: 36em;

// Banner notifications
.notification-banner {
  min-height: $notification_banner_height;
  width: $notification_banner_width;
  box-shadow: 0 12px 28px 0 $shadow_color;
  border-radius: $base_border_radius * 1.8;
  border: 1px solid $card_shadow_border_color;
  margin: $base_margin * 1.5;

  @if $contrast == 'high' {
    @include draw_hc_inset();
  }
}

.notification-buttons-bin {
  spacing: 0;
}

.notification-button {
  @extend %notification_button;
}
